@charset "utf-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
b,
strong {
  font-weight: bold;
}
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
li {
  display: list-item;
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
sub,
sup,
small {
  font-size: 75%;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg {
  overflow: hidden;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}
.clear:after,
.clear:before {
  clear: both;
  display: block;
  zoom: 1;
  content: '';
}
body {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 14px;
  color: #354052;
}
html,
body,
.wrapper,
.transition-wrapper,
.transition-wrapper > div,
.main-wrapper {
  min-height: 100%;
}
h1 {
  font-size: 36px;
}
.main-wrapper {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  color: #ffffff;
  background-color: #2B2F3E;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 15px 27px;
  width: 20%;
  min-width: 300px;
}
.sidebar h1 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -1px;
}
.sidebar p {
  color: #808080;
  font-size: 18px;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 80%;
}
.content-wrapper h1 {
  color: #565a69;
  font-weight: 100;
}
.content-wrapper > div {
  width: 49%;
  padding: 8px 24px;
  margin-bottom: 50px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  align-self: baseline;
  min-height: 200px;
  box-sizing: border-box;
}
.error_border {
  position: relative;
}
.error_border input,
.error_border textarea {
  border-color: #FF0000 !important;
}
.error_border input + span,
.error_border textarea + span {
  font-family: "AvenirNext Light", sans-serif;
  color: #FF0000;
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 12px;
}
.form-adding-items {
  display: flex;
  justify-content: flex-start;
  margin-top: 17px;
}
.btn {
  display: inline-block;
  border-radius: 3px;
  padding: 8px 34px;
  text-align: center;
  text-decoration: none;
  background-color: #27CCC0;
  border: 1px solid #27CCC0;
  font-size: 16px;
  color: #fff;
  box-shadow: none;
  -webkit-transition: all ease .3s ;
  -moz-transition: all ease .3s ;
  -ms-transition: all ease .3s ;
  -o-transition: all ease .3s ;
  transition: all ease .3s ;
}
.btn:hover {
  cursor: pointer;
}
.btn:disabled {
  border-color: transparent;
}
.btn:disabled:hover {
  box-shadow: none;
}
.btn.btn-red {
  color: #FF305A;
  padding: 8px 24px;
  background-color: #ffffff;
  border: 1px solid #FF305A;
  box-shadow: 0 0 1px 0 #ff305a;
  margin-top: 7px;
}
.btn:hover {
  box-shadow: 0 2px 7px 0 #788995;
  text-decoration: none;
}
.custom-input {
  width: 290px;
  display: block;
  position: relative;
  margin-right: 13px;
}
.custom-input input {
  font-size: 16px;
  color: #1E4060;
  width: 100%;
  height: 36px;
  border: 1px solid #DDE3E8;
  border-radius: 3px;
  padding: 0 10px;
  box-sizing: border-box;
}
.item-wrapper {
  margin: 10px 0;
}
.item-wrapper .item-name {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #FFE6EA;
}
.item-wrapper .item-name div p {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 50px;
  position: relative;
  color: #2b2f3e;
  font-weight: 600;
}
.item-wrapper .item-name div p span {
  font-size: 13px;
  line-height: 15px;
  font-style: normal;
  position: absolute;
  right: -55px;
  top: 16px;
  color: #ffffff;
  background-color: #27CCC0;
  border-radius: 10px;
  padding: 3px 10px;
}
.item-wrapper .item-name > div:first-child {
  cursor: pointer;
}
.item-wrapper .item-name .active-item {
  position: relative;
}
.item-wrapper .item-name .active-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: -26px;
  height: 100%;
  width: 5px;
  background-color: #E83B68;
}
.comments-wrapper {
  margin: 40px 0;
}
.comments-wrapper .textarea-wrapper {
  width: 100%;
}
.comments-wrapper textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #FFE6EA;
  box-shadow: 0 0 2px 0 #ffe6ea;
}
.comments-wrapper > div:last-child .random-color {
  background-color: #dedede;
}
.comments-wrapper .comment-item {
  font-size: 13px;
  color: #605f60;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #FFE6EA;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.comments-wrapper .comment-item:last-child {
  border-bottom: none;
}
.random-color {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #FF8A00;
  margin-right: 15px;
}
.random-color.random-color-violet {
  background-color: #47568C;
}
